development:
  bot:
    token: ""
    dynaconf_merge: true
  fngs:
    username: ""
    password: ""
    dynaconf_merge: true
  dynaconf_merge: true
production:
  bot:
    token: ""
    dynaconf_merge: true
  fngs:
    username: ""
    password: ""
    dynaconf_merge: true
  dynaconf_merge: true
